[2021-11-13 01:32] abrookins opened #11 "Document Frequently Asked Questions"
Add a Markdown file in docs/ to gather frequently asked questions.

[2021-11-13 01:33] abrookins opened #12 "Document embedded models"
Add a Markdown file to docs/ that gives more detail on how embedded `JsonModel` classes work.

[2021-11-13 01:34] abrookins opened #13 "Document connections"
Document how to give models an explicit database connection.

[2021-11-13 01:36] abrookins opened #14 "Document model and field classes in depth"
Document the model classes and field possibilities in-depth:

* JsonModel
* HashModel

Fields:
* String fields
* Date fields (no range queries yet!)
* Numerical fields (these do support range queries)
* Lists that become "tag" fields

This file should probably give more details about how this model interacts with RediSearch/RedisJSON schemas.

[2021-11-13 01:36] abrookins opened #15 "Document querying"
Add a Markdown document to docs/ with more in-depth querying examples.

[2021-11-13 01:38] abrookins opened #16 "Document async vs. sync usage"
Redis OM Python supports both async and sync usage. Async support is provided in the `aredis_om` module, which is otherwise identical to the synchronous code found in `redis_om`. Document this.

[2021-11-24 14:32] chrisAtRedisLabs opened #28 "Documentation link is broken"
https://github.com/redis/redis-om-python/blob/main/docs/index.md as linked from the bottom part of the README.md gives a 404.

[2021-11-24 15:18] abrookins commented on #28
Thank you, Chris! Fixed.

[2021-11-24 15:18] #28 closed

[2021-11-25 08:01] anivle opened #29 "Document toml file for FastAPI integraion"
[FastAPI integraion documentation](https://github.com/redis/redis-om-python/blob/main/docs/fastapi_integration.md) says project could be used as is. But there is no `toml` file for this Poetry project.
I've created one via `poetry init` but there still need to be `test` attribute in `main` module. Without it, following command is not working properly
[code]
Getting following error on launch:
[code

[2021-11-25 15:09] #14 closed

[2021-11-25 15:09] #13 closed

[2021-11-25 15:34] abrookins commented on #29
Thanks @anivle! You're totally right. I needed to tidy up that document, and also link to the example app repo that has a pyproject.toml file. This should be fixed now.

[2021-12-05 22:31] simonprickett opened #38 "When using `StrictInt`, integer values can't be retrieved with `get`?"
I've created a basic model and set an int field to be `StrictInt`... this saves to Redis fine, but fails on retrieval... I imagine because this is really stored as a string in Redis.

Example code:

[code]

Running this yields:

[code]

Python version:

[code]

redis-om-python version:

[code]

I was using this as a guide: https://github.com/redis/redis-om-python/blob/main/docs/getting_started.md#

[2021-12-05 23:32] abrookins commented on #38
Guess I didn't test that well enough!

You're right, a strict field will have trouble reading strings from Redis.

To use strict fields, you'd want to have two models -- one for creating data (when you'd want to check the incoming values) and one for reading data from redis. Like this:

[code]

It's a little annoying that a model doesn't inherit the `model_key_prefix` from its parent class's Meta

[2021-12-06 00:02] abrookins commented on #38
Oh, there's also the `construct()` method: https://pydantic-docs.helpmanual.io/usage/models/#creating-models-without-validation

I didn't go that route, but we could treat the data in Redis as already validated when we pull it back out. This probably makes sense. The only thing is, we'd need to test if that will coerce the values to their expected types, like parse_obj() does.

[2021-12-09 22:24] simonprickett opened #42 "Index isn't created correctly when using full text search field?"
I don't think the index is getting created correctly when using a full text search field... here a field `description_fts` is created in the index, but it doesn't say to use the field `description` as the field to search in... so I am unable to do any full text queries on `description`:

Model:

[code]

`FT.CREATE` Redis command generated when I run migrator as seen by Redis `MONITOR` command:

[c

[2021-12-15 16:44] th3happybit opened #45 "Migrator using get_redis_connection"
Hello, I'm trying to use `Migrator` with `get_redis_connection` like in the docs: https://redis.com/blog/introducing-redis-om-for-python/ but I'm facing this error, please help if you have an idea about it

[code]

also how I can set the host of redis without using `get_redis_connection` if that possible

[2021-12-15 22:16] th3happybit commented on #45
solved by using the `REDIS_OM_URL` environment variable [as mentioned here ](https://github.com/redis/redis-om-python/blob/main/docs/connections.md)

using it with docker and docker-compose: [forked demo](https://github.com/th3happybit/redis-om-python-search-demo)

[2021-12-16 06:05] #29 closed

[2021-12-16 06:06] abrookins commented on #45
@th3happybit Did setting `REDIS_OM_URL` also help with the migrations error?

[2021-12-16 06:21] th3happybit commented on #45
No, the error is still there if we pass the `redis` connection object to `Migrator()`

[2022-01-01 03:17] gam-phon commented on #45
Check this commit: https://github.com/redis/redis-om-python/commit/269d44c26e4cc3c2fb35cc1053dd85d5633bc1a2#diff-279e18c65ed8a0504721b3eb6a9aaa38e4947d209799c5ae6aecf066fc9b6343

you should not pass redis to Migrator. before it works but with the latest you should not do it. It will take redis client from each moudle itself

[2022-01-01 04:22] gam-phon opened #58 "JsonModel: find not working with Optional and no default"
Hello,

In JsonModel, find not working with class that has Optional and no default value, whereas HashModel is working

Check out below code:

[code]

Results:
[code]

[2022-01-01 08:29] gam-phon opened #59 "list and tuple fields could have other types than strings"
'this Preview release, list and tuple fields can only contain strings. Problem field: . See docs: TODO'

[2022-01-01 08:38] gam-phon opened #60 "JsonModel: find not working with dict"
Hello,

In JsonModel, find not working with dict

Check out below code:

[code]

Results
[code]

[2022-01-01 09:33] gam-phon opened #61 "JsonModel: find not working with timedelta"
Hello,

In JsonModel, find not working with timedelta, whereas HashModel is working

Check out below code:
[code]

Results:
[code]

[2022-01-01 10:01] gam-phon commented on #61
This will resolve it:
[code]

[2022-01-02 06:32] gam-phon opened #62 "In EmbeddedJsonModel do we need to create a pk"
Dears,

I do not think creating a pk in EmbeddedJsonModel is nesseserly since it will be embedded always.

[2022-01-02 10:40] gam-phon opened #63 "Field projection using JSON Path expressions"
Hello,

Sometimes object is huge and interested to return from redis subset of the data
https://oss.redis.com/redisjson/indexing_JSON/#field-projection

[2022-01-02 13:48] gam-phon commented on #63
For now, I am using the low level
[code]

[2022-01-05 18:17] simonprickett opened #66 "Address failing test cases?"
I see 19 test cases failing on `main`:

[code]

[2022-01-05 21:50] simonprickett opened #72 "Does the redismod container need to use append only?"
The Redis server in the redismod container used for runnign tests has an append only file configured.  Is this needed?

If not, then this:

[code]

could be updated / simplified to:

[code]

[2022-01-06 03:17] therealbazzi opened #73 "redis.exceptions.ResponseError: unknown command 'module'"
Hi,

So basically trying to reproduce what @simonprickett did [here](https://www.youtube.com/watch?v=DFNKmbGKa5w&ab_channel=Redis ) except that i'm doing it on Redis cloud instead of locally or using a venv or docker or whatever.

So i've managed to successfully write to the redis db cloud after properly configuring REDIS_OM_URL to point at the proper endpoint x credentials, now when I perform a r

[2022-01-06 12:19] simonprickett commented on #73
@therealbazzi Hi there - I'm able to reproduce this, looks like the issue occurs because it's trying to call the `MODULE LIST` command in the Python library somewhere, and that's not available on Redis Enterprise.  You can see this by trying to do the same thing in RedisInsight or redis-cli (see screenshot below). I'll dig into why it's doing this and see what we can do.

[2022-01-06 12:21] therealbazzi commented on #73
thanks @simonprickett - looks like you forgot to attach your screenshot ^^

[2022-01-06 12:40] simonprickett commented on #73
Looks like the [code here](https://github.com/redis/redis-om-python/blob/678bc43d3f22b780b64ac63118f358a60d53798f/aredis_om/checks.py) relies on `MODULE LIST` to determine which modules are installed in the Redis server... I don't think that's going to work on Enterprise.

Suggesting this be changed to determine if RediSearch and RedisJSON modules are installed using the `COMMAND` command e.g.:

[

[2022-01-06 12:41] simonprickett commented on #73
Oops so I did - here's what I mean :)
<img width="1292" alt="Screen Shot 2022-01-06 at 12 40 44 PM" src="https://user-images.githubusercontent.com/94062/148384482-1246ca16-5716-4f1b-a5a2-776ce98e83e8.png">

[2022-01-06 13:43] simonprickett commented on #72
This could probably also be swapped out to use the `redislabs/redisearch:edge` container and we won't need to pass module loading configuration either.

[2022-01-06 16:10] therealbazzi commented on #73
Hi @simonprickett thanks a lot.
I went for the docker suggestion..
OK i got docker up and running w/ localhost and port 6379 ..
I could write to redis db (i see changes on redisInsight) all is good.
Problem is now when i want to query, ex:
`Adoptable.find(Adoptable.name == "Poppy").all()`
gives
`redis_om.model.model.RedisModelError: Your Redis instance does not have either the RediSearch module or

[2022-01-06 17:57] simonprickett commented on #73
@therealbazzi to get going with the right modules installed you can use the [Docker Compose file here](https://github.com/simonprickett/redis-om-python-search-demo/blob/main/docker-compose.yml) that uses the `redisearch` container... when using the `edge` version of that you'll get both modules installed for you with no further config needed.

[2022-01-06 17:59] therealbazzi commented on #73
I am using the docker compose that you link, but i still get the same issue.

[2022-01-06 18:05] simonprickett commented on #73
Are you connecting to Redis at `localhost:6379`?  Unset any `REDIS_OM_URL` environment variables to make sure.  I just checked and my example from my repo works using that Docker Compose file.

[2022-01-06 18:08] therealbazzi commented on #73
`echo $REDIS_OM_URL`
gives
`redis://@127.0.0.1:6379
`
I have set this manually, how to unset it ?

[2022-01-06 18:22] simonprickett commented on #73
Can you share a project repo URL that I can look at and try and reproduce?

[2022-01-06 18:49] therealbazzi commented on #73
I'm following the same steps as the blog here, so really nothing fancy going on (i did not modify a thing)
https://gitmemory.cn/repo/simonprickett/redis-om-python-search-demo

[2022-01-06 19:09] therealbazzi commented on #73
Oh now it works. !! Thanks a lot @simonprickett  .. I had to kill all ports running 6379 (had like 5 running for no reason or maybe because i did something previously on my laptop like redis-server start)

Thanks a lot man !

[2022-01-06 20:14] therealbazzi opened #75 "Are there the following query methods group_by and aggregate ?"
I see in the code we have sort_by in redis-om,[ but (as in .NET)](https://www.youtube.com/watch?v=DnsRTa3dFxo&ab_channel=Redis), do we have:

- group_by ?
- aggregate ?

[2022-01-06 21:18] therealbazzi opened #77 "Wildcard searching in redis-om-python ?"
Hi,

Can we perform (like in rediSearch) wildcard (asterisk) searching in redis-om in python ?

For this [video](https://youtu.be/DFNKmbGKa5w) - i tried for example:

`Adoptable.find(Adoptable.name == 'A*').all()
`
but it does not do the job

[2022-01-06 21:19] therealbazzi opened #78 "Filter method in redis-om"
Hi,

Just like this [video](https://www.youtube.com/watch?v=DnsRTa3dFxo&ab_channel=Redis) in .NET, do we have a filter operation in redis-om python?

[2022-01-06 21:20] therealbazzi opened #79 "Search by tags ?"
Could we search by tags just like in the documentation of [rediSearch](https://oss.redis.com/redisearch/Tags/) here ?

[2022-01-06 21:27] simonprickett commented on #77
I don't expect that to work as wildcard searching in RediSearch just returns all items... see the [Query Syntax documentation for RediSearch](https://oss.redis.com/redisearch/Query_Syntax/).

[2022-01-06 21:27] #77 closed

[2022-01-06 22:18] simonprickett commented on #79
String fields are indexed as tags when you use `Field(index=True)`. So you're essentially doing tag searches most of the time. For example with this model:

[code]

A query like this:

[code]

Results in the following command:

[code]

[2022-01-06 22:18] #79 closed

[2022-01-07 12:17] simonprickett commented on #75
@therealbazzi these aren't in Redis OM for Python yet.

[2022-01-07 12:17] #75 closed

[2022-01-07 12:27] simonprickett commented on #78
@therealbazzi that's not currently part of the Python client.

[2022-01-07 12:27] #78 closed

[2022-01-07 12:31] simonprickett commented on #45
@th3happybit Hi there - I don't think there'a any further action needed here, so I'll close this issue if you agree.

[2022-01-07 12:46] th3happybit commented on #45
Yeah sure you can close it, thank you

[2022-01-07 12:48] simonprickett commented on #45
Closing.

[2022-01-07 12:48] #45 closed

[2022-01-07 13:01] #42 closed

[2022-01-07 14:58] simonprickett opened #80 "Document the remaining targets in Makefile help text."
Update the help text in `Makefile` to show other targets that aren't currently covered there, e.g. `dist`.

[2022-01-07 15:02] simonprickett commented on #73
@therealbazzi this should be fixed in version 0.0.16 that I just released: https://pypi.org/project/redis-om/0.0.16/

[2022-01-07 15:03] #73 closed

[2022-01-07 20:53] simonprickett opened #81 "Document how to get to the underlying lower level Redis client and run both normal and module commands."
Document how to access the underying low level Redis client, in order to run commands it understands e.g. `GET`, `SET` plus those it doesn't which will mosty relate to modules e.g. `BF.ADD`.

[2022-01-11 15:57] simonprickett commented on #81
Example of how to do this for reference:

[code]

[2022-01-11 16:15] simonprickett opened #86 "Investigate why the linter CI step is failing and fix it."
The linter CI step fails.  Figure out why and fix it.

[2022-01-11 19:45] #66 closed

[2022-01-11 19:45] #72 closed

[2022-01-11 19:49] simonprickett opened #87 "Fix 2 broken tests."
A couple of the tests are broken, diagnose the issues and fix them.

[code]

[2022-01-12 17:36] simonprickett commented on #87
This might be due to the async nature of the tests, I was wondering if a failure like this one is because the async fixture hasn't fully created when the test is run and all 3 entries aren't yet saved in Redis... but I've read the [pytest-asyncio documentation](https://pypi.org/project/pytest-asyncio/) and believe the code in the test to be correct.

[code]

[2022-01-12 18:27] simonprickett commented on #87
I've looked at whether these async fixtures need to use the `yield_fixture` decorator, but it appears they don't as we are using pytest > 3. https://docs.pytest.org/en/6.2.x/yieldfixture.html

[2022-01-13 16:50] simonprickett commented on #86
`make lint` works locally:

[code]

[2022-01-13 17:18] simonprickett commented on #86
Fixed by https://github.com/redis/redis-om-python/pull/88

[2022-01-13 17:19] #86 closed

[2022-01-15 02:15] jctissier opened #91 "EmbeddedJsonModel not working within a JsonModel"
[code]

Always gets an error of Nonetype:
[code]

If I change Address(EmbeddedJsonModel) -> Address(HashModel), it will work and embed it but the downside is that it creates a *pk* in each nested section.

What am I doing wrong?

Thanks

[2022-01-15 19:23] #91 closed

[2022-01-17 14:04] gam-phon commented on #81
Also this

[code]

[2022-01-21 16:32] simonprickett opened #99 "Implement GEO querying"
Implement GEO query in Hash model and JSON as supported.

[2022-01-21 16:34] simonprickett opened #100 "Implement NOT IN query"
Implement a NOT IN query / test the code that may already be there for this.

[2022-01-21 16:37] simonprickett opened #101 "Implement a configurable key namespace separator"
Right not `:` is used for the key namespace separator.  While this is the right answer most of the time, there are several places in the code marked with a TODO to make this configurable, which is a good idea but fairly low priority.

[2022-01-21 16:40] simonprickett opened #102 "Implement a dry run mode for the migrator that outputs what it would do."
Implement a dry run mode for the migrator that logs what it would do but doesn't do it.  See TODO notes in the code.

[2022-01-21 20:54] simonprickett opened #103 "Optional field in a JSON model may cause indexing to fail"
It appears that making a field optional in a JSON model may cause indexing of the resulting JSON to fail...  example model - `description` field here causes indexing fails.

[code]

[code]

[2022-01-21 20:54] simonprickett commented on #103
Removing `Optional` here fixed the indexing.  `full_text_search` wasn't an issue.

[2022-01-24 17:51] simonprickett opened #104 "Change license to MIT"
This will be re-licensed to use the MIT license from the next release.

[2022-01-26 03:42] makelove opened #107 "change model in Redis Key prefix"
When I save model in Redis
key will be
 b':__main__.Customer:01FTA54AH0EP73X74HHM6HD3V8',
 b':fastapi-1.Customer:01FTA3DY5VY6ATBHVWV9AS2DJ7',

How can I customize Key prefix?
make it look better and organize

- from source :
[code]

[2022-01-26 04:00] makelove commented on #107
like this ？
[code]

[2022-01-26 05:13] gam-phon opened #108 "JsonModel: find not working with enum int not string"
Hello,

enum with str works but enum with int does not work

[2022-01-26 05:13] gam-phon opened #109 "JsonModel: find not working with bool"
hello,

It does not work with bool type

[2022-01-26 05:15] gam-phon commented on #104
When will be approximately the next release? What is the roadmap for this library? python version is not active as others

[2022-01-26 05:19] gam-phon opened #110 "RediSearch version < 2.2 with migrate there is no error message"
Hello,

I know that, RediSearch version > 2.2 support RedisJson.
When using redis-om with RediSearch version < 2.2 by mistake and running migrate. **It did not give any error message**, just there are no index. I spent some time to figure it out. if there is an error message it will be much easier to debug.

[2022-01-26 05:23] gam-phon commented on #103
Not because the Optional, because there is no default value. if you make a default value it will work either with Optional or without it.

Currently you have to make default for optional values.

[2022-01-26 05:26] gam-phon commented on #102
it would be a good. I had an issue with it, see this
- #110

[2022-01-26 14:44] Nishikoh opened #111 "no such index"
Set a `db` number other than 0, I got an error.
[code]
error
[code]

db number set 0 then, no error
[code]
result
[code]
Python 3.10.2
docker-compose version 1.29.2,
redis-om              0.0.17
module:name=ReJSON,ver=999999,api=1,filters=0,usedby=[search],using=[],options=[handle-io-errors]
module:name=search,ver=20206,api=1,filters=0,usedby=[],using=[ReJSON],options=[handle-io-errors]

[2022-01-29 06:51] gam-phon commented on #111
yes, it happens with me also, with redis database other than 0 no index are created

[2022-01-30 18:06] BaronXOfficial commented on #111
I tried this solution, added db variable in the get_redis_connection args but it is still not working when attemping to .find() on the HashModel object searching for a particular entry.

[2022-01-30 18:27] BaronXOfficial commented on #111
Changing db value in the above example works but in my particular case, where I am importing my DB model from another module, for whatever reason the same solution isn't working.

[2022-01-30 19:15] BaronXOfficial commented on #111
Per my observations this issue is particularly prevalent when __name__ is not '__main__' - any ideas on how to work around this?

[2022-02-02 11:52] simonprickett commented on #111
I'll take a look at this but note that using numbered databases in Redis isn't something we encourage.  It's usually better to use a key naming strategy that namespaces your keys in a single database.  Also note that if you run on Redis Enterprise/Cloud, there are no multiple databases, so commands such as `SELECT` won't work.

[2022-02-02 11:54] simonprickett commented on #110
Thanks - I'll see if we can add an error here.

[2022-02-02 11:58] simonprickett commented on #107
@makelove you shouldn't need the `Optional` or `str` type.  Example from the docs:

[code]

https://github.com/redis/redis-om-python/blob/main/docs/models.md

[2022-02-02 12:01] simonprickett commented on #104
@gam-phon it's likely the next release will be to swap the license to align with other Redis clients that we produce, and to do minor dependency updates.  The next features should be RediSearch aggregation and geo searching.  You're right that we're slower developing for Python than the other languages - we're currently hiring a Python Developer Relations person to help here, if you know anyone (a

[2022-02-02 12:01] simonprickett commented on #103
@gam-phon thanks!

[2022-02-04 08:57] LeMoussel commented on #109
It's indicated in the documentation [Indexing JSON](https://oss.redis.com/redisearch/Indexing_JSON/#index_json_strings_and_numbers_as_text_and_numeric)
[code]

[2022-02-04 14:18] simonprickett opened #119 "Fix test warnings"
Fix the warnings that the tests emit regarding use of:

[code]

This is in several files.

[2022-02-04 16:52] LeMoussel opened #121 "Can't define `model_key_prefix` in base class."
Like describe in [The Meta Object Is "Special"](https://github.com/redis/redis-om-python/blob/main/docs/models.md#the-meta-object-is-special), It's not possible to define meta field `model_key_prefix` in base model.

[code]

`Customer.model_key_prefix` value  is not set to "some-information" but, for example, `__main__.Customer`.

Indeed, I notice that in [model.py#L1059](https://github.com/redis/

[2022-02-05 12:23] vismaytiwari opened #122 "How to set TTL using Redis OM"
Cannot find a proper way to SET TTL in Redis OM models.

[2022-02-07 18:38] jonesjaycob commented on #122
Looking for this as well...

[2022-02-08 14:43] simonprickett commented on #81
This also needs documenting for use in async code.

[2022-02-09 07:45] #107 closed

[2022-02-10 14:44] h-attari opened #126 "Unable to connect"
Cannot connect redis_om with django, was able to successfully connect redis-py with django using:
`redis.StrictRedis(host='127.0.0.1', port=6379, db=0)`
but when tried to connect the redis-om-model with django and fetched the existing data using:

`redis_om_conc = get_redis_connection(
    url="redis://127.0.0.1:6379/0",
    decode_responses=True
)

class GameList(HashModel):
    class Meta:

[2022-02-10 14:46] vtiwarig commented on #126
Getting the Same Problem.

[2022-02-10 20:52] simonprickett opened #127 "Deleting a record shouldn't require reading it first"
It appears that in order to delete an instance of a model, it has to first be read from Redis:

[code]

The following would make more sense and avoids the reading step just to delete something:

[code]

The latter fails at the moment like so:

[code]

[2022-02-11 19:39] #104 closed

[2022-02-13 13:20] gam-phon commented on #122
Looking for this as well...

[2022-02-15 20:28] #127 closed

[2022-02-15 20:35] simonprickett commented on #127
Addressed in v0.0.19.

[2022-02-16 12:10] LeMoussel opened #133 "PrimaryKeyCreator, no parameter are passed to the create_pk method"
I want to make an MurmurHash class to create a primary key for a new model instance.
I did this class that adheres to the [PrimaryKeyCreator](https://github.com/redis/redis-om-python/blob/main/aredis_om/model/model.py#L856) protocol:

[code]

and set [Meta primary_key_creator_cls](https://github.com/redis/redis-om-python/blob/main/docs/models.md#all-settings-supported-by-the-meta-object) like this

[2022-02-16 12:22] simonprickett commented on #133
Thanks, I'll have a go at looking into this, I see where `primary_key_creator_cls` is handled here https://github.com/redis/redis-om-python/blob/main/aredis_om/model/model.py#L856 but will need to figure out why no params are passed into `create_pk`.

[2022-02-16 13:37] LeMoussel commented on #133
If it helps, I found that in  `model.py`, `validate_pk(cls, v)` call `create_pk()` without any arguments.
https://github.com/redis/redis-om-python/blob/main/aredis_om/model/model.py#L1136
[code]

[2022-02-17 06:07] ischaojie opened #135 "When global_key_prefix empty, the model key start with :"
When not provide `global_key_prefix` meta attribute or default, the Model's key looks like this:
[code]
Maybe should strip `:` start with?

[code]

[2022-03-02 18:59] simonprickett opened #144 "Document the various operators for `find`."
Add documentation for the various operators that can be used when calling `find`.  See https://github.com/redis/redis-om-python/blob/main/aredis_om/model/model.py#L219

[2022-03-04 10:21] simonprickett commented on #62
@gam-phon sorry for the slow response - I agree that this doesn't seem to be necessary and could be removed.

[2022-03-06 00:35] razzaghi opened #146 "TypeError: 'NoneType' object is not subscriptable on find query"
Hi Dears i got error on find query with below information:

class Customer(HashModel):
    first_name: str
    last_name: str = Field(index=True)

    class Meta:
        database = redis

Customer.find(Customer.last_name == "Brookins").all()

Error is:
TypeError: 'NoneType' object is not subscriptable

[2022-03-12 21:54] Marseel-E opened #150 "Failing to install. Cannot install hiredis"
[code]

[2022-03-14 18:34] simonprickett commented on #150
This looks like an issue with hiredis rather than redis-om-python.  It looks like you're missing C++ build tools:

` error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/`

[2022-03-14 18:34] #150 closed

[2022-03-14 19:25] simonprickett commented on #122
Hi there - sorry for the slow response, but you can do this using the `db` function on your model class to get at the underlying redis-py client:

[code]
[code]

[2022-03-14 19:26] simonprickett commented on #122
I'll get this added to the documentation as part of #81

[2022-03-14 19:26] simonprickett commented on #81
When documenting this, use `expire` as the example.

[2022-03-16 15:08] aberres opened #154 "Importing redis_om can unexpectedly alter environment variables"
In `redis_om/connections.py` we find a call to `dotenv.load_dotenv()` which is executed at import time. IMHO a library should never do such things - at least not silently.

As an application developer, it is my responsibility ensure that all environment variables are read from whatever config I prefer. If I want to use dotenv to setup variables, it should be my job to do so.

[2022-03-28 12:54] tanvir43 opened #164 "Redis' object has no attribute 'startswith'"
I am trying to add `Redisearch` with one of the redis om model to use advanced query option provided by `Redisearch`. I tried following as the docs say  to attach `Redisearch` with my redis instance

`redis = get_redis_connection()`

`Migrator(redis).run()`

but it raise following error

`Redis' object has no attribute 'startswith'`

[2022-03-29 09:30] simonprickett commented on #164
Is there a reason you are trying to use a different Redis connection and pass that to `Migrator`?

[2022-03-29 19:17] simonprickett opened #168 "Fix license image in README to be MIT"
License image in README is still BSD, should be MIT.

[2022-03-29 19:31] #81 closed

[2022-03-29 19:35] #168 closed

[2022-03-29 21:14] simonprickett opened #171 "Implement an expire method."
Implement an `expire` method for models, that takes an integer parameter being the number of seconds after which an instance of the model should be expired by Redis.

[2022-03-29 21:24] #171 closed

[2022-03-29 22:15] simonprickett opened #173 "Swap redismod Docker container references to Redis Stack"
Swap redismod Docker container references to Redis Stack.

[2022-03-30 03:54] tanvir43 commented on #164
do you mean `get_redis_connection()` is a  different Redis connection?

[2022-03-30 07:40] simonprickett commented on #164
No you should be able to just use `Migrator().run()`.  When you say "Add `RediSearch`" do you mean another dependency as well as Redis OM Python?  Can you post a more complete code sample please?

[2022-03-30 07:58] TsaiZX opened #174 "Does this package support for redis cluster?"
This package is helpful for the single-node Redis.
But when I use it on the Redis cluster, I got the below error

![Screenshot from 2022-03-30 15-56-29](https://user-images.githubusercontent.com/41351792/160781525-64b6170e-ce6b-4b40-8fb9-cca3853b892f.png)

So I wonder know this package supports Redis cluster version now?

[2022-03-30 09:13] #173 closed

[2022-03-31 08:57] simonprickett opened #177 "Stop the test Redis instances after make test or make clean"
Stop the test Redis Docker instances after `make test` or `make clean` have run.  Right now these are left running.

[2022-03-31 11:09] raceychan opened #179 "Example in README is broken, raise exception wrong number of arguments for 'hset' command"
below is the detail of the exception:

  File "/root/myproject/mystatement/src/deps/event_store.py", line 64, in main
    await andrew.save()
  File "/root/deps/miniconda3/envs/spps/lib/python3.8/site-packages/aredis_om/model/model.py", line 1303, in save
    await db.hset(self.key(), mapping=document)
  File "/root/deps/miniconda3/envs/spps/lib/python3.8/site-packages/aioredis/client.py", line 10

[2022-04-01 14:10] #177 closed

[2022-04-02 22:38] msarm commented on #146
I'm facing the same issue. Any guidance from anyone will help.

[2022-04-04 10:42] talsht commented on #146
I think this has to do with the redis deployment you are using.

as the readme mentions :
"Now, if we use this model with a Redis deployment that has the RediSearch module installed, we can run queries like the following."

I got the same exception when trying to run with a regular redis docker (image redis:latest).
When trying to run with the image in the instructions (redis/redis-stack:latest) I

[2022-04-04 14:19] alecvinent opened #186 "error on fetch or filtering"
Hello. I'm following the starter tutorial at https://www.youtube.com/watch?v=jJYHUp9ZeTY&t=56s.

I'm getting error when trying to fetch data from a HashModel. For example:
`result = Product.all_pks()`
gets: `redis.exceptions.ResponseError: syntax error`

For creating:
`exists = Product.find(Product.name == product.name).first()`
gets: `TypeError: 'NoneType' object is not subscriptable`

Creating i

[2022-04-06 08:59] simonprickett commented on #186
I'll take a look at this - this isn't one of our tutorial videos so I am not familiar with the content.

[2022-04-06 09:34] simonprickett commented on #146
Closeing this as @talsht is right - you need RediSearch and optionally RedisJSON installed to use the `find` functionality.

[2022-04-06 09:34] #146 closed

[2022-04-06 10:13] simonprickett commented on #111
It appears that the index isn't getting created in database 1 and it doesn't show up in database 0 either... taking a look at this.

[code]

[2022-04-06 10:19] simonprickett commented on #111
@gam-phon @BaronXOfficial @Nishikoh I did some research and this doesn't work because index creation isn't supported on databases >0  in RediSearch.  I'll ask around but this is probably because Redis Enterprise doesn't use the `SELECT` command.

[code]

I'd recommend using key namespaces rather than the `SELECT` command and different databases.

[2022-04-06 10:19] #111 closed

[2022-04-06 10:21] simonprickett opened #189 "Update documentation to show that search functionality only works on database 0"
Due to the way that RediSearch works, search functionality only works on databsse 0.  This needs to be documented.

[code]

[2022-04-06 10:23] simonprickett commented on #135
Closing this as the user can provide their own key prefix if they don't want this behavior.

[2022-04-06 10:23] #135 closed

[2022-04-06 10:32] simonprickett opened #190 "Update migrator to error if used with db > 0"
RediSearch can't create indexes on databases > 0 (e.g. `SELECT 1` won't work).  Update the migrator to throw an exception if this is attempted.  Right now it silently errors.

[2022-04-06 11:28] simonprickett commented on #111
Added code to throw an exception if you attempt this https://github.com/redis/redis-om-python/pull/191

[2022-04-06 13:05] simonprickett commented on #190
Need to revisit this as it needs to work for aioredis.

[2022-04-06 15:37] Butch78 opened #192 "FastAPI & Hashmodels"
Hi,

I'm just confused on how I need to run migrations with Fastapi 7 Hashmodels is it here in the model:

[code]

Or can I run it in Start Up like this:

[code]

[2022-04-06 20:49] sriveros95 opened #193 "Missing support for boolean field or examples of how to do it"
I have a model  like
`
MyModel(HashModel):
    local_auth: bool
`
When initing or saving I get:
`DataError("Invalid input of type: 'bool'. Convert to a bytes, string, int or float first.")`

[2022-04-07 08:17] simonprickett opened #195 "Consider escaping search terms that need it to save users from having to manage this"
Consider automatically escaping search terms that need this (example: email address) to save users from having to do so.

[2022-04-07 09:26] #190 closed

[2022-04-07 09:35] #189 closed

[2022-04-07 11:16] simonprickett commented on #193
Hi there - boolean fields aren't yet supported for JSON or Hash, they'll likely appear in JSON first as boolean is a native type there vs a Redis Hash that understands strings, floats and ints.

[2022-04-07 11:56] simonprickett commented on #192
You should be able to run the migrator on startup... once the index(es) are created, RediSearch will watch for changes in the tracked dataset(s) for you.

[2022-04-07 11:58] simonprickett commented on #179
What version of Redis server are you running this against please?  `HSET` started to accept multiple name/value pairs from Redis 4 onwards (https://redis.io/commands/hset/) and if you are using an older Redis server you'll need to move to at least version 5, preferably 6.

[2022-04-07 13:47] alecvinent commented on #186
Hi. I've previously tried to enumerate the generator but without result.
Seen your answer, I've upgraded the redis-server from 5.0.7 to 6.2.6, but still failing.

Redis Server 6.2.6
Python 3.9.5 (downgraded from 3.9.7)
redis-om-python 0.0.20

[code]

[2022-04-07 14:06] simonprickett commented on #186
Is the value of `REDIS_DB` > 0?  RediSearch functionality only operates on DB 0 so if you're using search and the Migrator that will fail silently (I'm about to put out a release that will detect use of DB > 0 and raise a proper error).  This works locally for me:

[code]

[code]

You could simplify this too as you don't need all the connection stuff:

[code]

You don't even need to set `REDIS_OM_

[2022-04-07 15:14] Butch78 commented on #192
Awesome it works no problem:

[code]

[2022-04-07 15:16] simonprickett commented on #192
Excellent thanks for following up, and glad to hear you are up and running.

[2022-04-08 13:02] raceychan commented on #179
thanks, would check on that and update.

[2022-04-09 17:01] msarm opened #199 "Find operation on datetime field raises error --> argument of type 'datetime.datetime' is not iterable"
Find operation on datetime field raises error --> argument of type 'datetime.datetime' is not iterable

[code]

[2022-04-12 09:38] #186 closed

[2022-04-12 09:55] simonprickett opened #201 "JsonModel should have an `all_pks()` method."
`HashModel` has an `all_pks()` method that returns all the primary keys for a given model.  `JsonModel` does not have this - add it.

Example code that should work and currently doesn't:

[code]

[code]

[2022-04-13 10:01] #201 closed

[2022-04-13 10:11] #179 closed

[2022-04-13 10:17] simonprickett commented on #199
Hi there - thanks for posting example code, I'll take a look at this and see what I can find.

[2022-04-13 10:20] simonprickett commented on #199
Running `MONITOR` against the Redis instance I can see that this:

results in this RediSearch query:

[code]

[2022-04-13 10:43] simonprickett commented on #193
I'm talking to the maintainers of the other Redis OM Clients for different languages to make sure that when we do add booleans to Python there's a common approach where possible.

[2022-04-13 10:45] simonprickett commented on #109
Closing this issue - we will look at boolean support in #193

[2022-04-13 10:45] #109 closed

[2022-04-13 11:07] simonprickett commented on #60
Adding some notes as I take a look into this.

Sample code:

[code]

Index that gets created:

[code]

Query to try and find Customer with name "Brookins":

[code]

returns `[]`

[2022-04-13 11:15] simonprickett commented on #60
Looks like data isn't getting indexed (`num_docs` is 0 here):

[code]

[2022-04-13 11:25] simonprickett commented on #60
Indexing issues are definitely to do with the `metadata` field as removing this causes the `find` to work:

[code]

output:

[code]

[2022-04-13 11:31] simonprickett commented on #60
@gam-phon this works if you don't index the metadata dict...

[code]

output:

[code]

If we look at how the metadata is stored in Redis:

[code]

We can see it's been stored as a nested object.  If you wanted to index this, you'd need to use an Embedded Model ([docs](https://github.com/redis/redis-om-python#embedded-models)).  It's not great that this silently fails on indexing which makes it har

[2022-04-13 11:31] #60 closed

[2022-04-13 11:32] simonprickett opened #204 "Find a way to make users aware of indexing issues."
Right now when indexing fails, it's hard for users to work out why `find` queries return nothing, or fewer results than expected.  Think about ways to surface this (right now you need to run `FT.INFO <index>` and look at the output of that to see if there are failures / any documents in the index.

See #60 for an example of this occurring.

[2022-04-13 11:33] simonprickett commented on #60
Closing - will track the underlying issue in #204.

[2022-04-13 11:36] simonprickett commented on #16
Hold off on this until we move to the latest redis-py which includes full async support and makes aioredis deprecated.

[2022-04-13 11:43] simonprickett commented on #154
First up sorry for the slow reply here... I took a look at this and user of dotenv seems to be minimal, and I'm pretty sure that it's just `REDIS_OM_URL`.  I think this would be safe to remove in a future release.

Usages of `dotenv`: https://github.com/redis/redis-om-python/search?q=dotenv

[2022-04-14 05:12] Mr-Dj-Python opened #206 "pagination not working with expectations"

[2022-04-14 08:41] simonprickett commented on #206
@Mr-Dj-Python can you provide some detail here / some code that isn't working as expected?  Thanks.

[2022-04-15 21:55] msarm commented on #199
@simonprickett - That's a nice finding, it stores as a date string based on the locale settings.

Yes, as you called out for any date range queries it is good to go with the timestamp.

[2022-04-17 17:50] msarm opened #207 "Query to fetch single record from 10K total keys is very slow (~12 seconds)"
[code]

[2022-04-22 09:08] #154 closed

[2022-04-22 09:16] simonprickett commented on #154
Fixed in 0.0.24 release.

[2022-04-22 09:48] simonprickett commented on #207
Just adding some notes here... here's the index creation command that results from the code above:

[code]

I *think* this might have performance issues in your use case as the `emp_no` field isn't declared as `SORTABLE` (see https://redis.io/commands/ft.create/).  I'll take a look and see if Redis OM Python currently allows this and/or what it'll take to add it.

[2022-04-22 09:57] simonprickett commented on #207
You can define this field as `sortable` in your model like this:

[code]

This then creates it as a sortable field in the underlying RediSearch index:

[code]

However, this doesn't improve performance for:

[code]

as this fires off 1000 `FT.SEARCH` commands which is what's taking the time:

[code]

I'll have to take a look at this.

[2022-04-22 12:27] simonprickett commented on #207
This will be fixed in the upcoming 0.0.25 release.

[2022-04-22 12:28] #207 closed

[2022-04-22 15:11] simonprickett commented on #207
@msarm fixed in 0.0.25 which is now available.

[2022-04-23 14:24] msarm commented on #207
@simonprickett -   I see 'ft.search' round trip got reduced now after defaulting the page size to 1000 and this helps other queries to run even faster but my results are not coming this time may be a different issue now.

When I perform the Person query:
`Person.find().sort_by('-emp_no').first()`

Here is the 'ft.search' performed.
[code]

When the last fired 'ft.search' is performed it does not r

[2022-04-25 01:35] msarm commented on #207
@simonprickett - After explicitly setting the exhaust_results=False in the first() function, I'm able to verify it supported 10 million keys @ ~11K commands/sec without any performance issues.

<img width="786" alt="image" src="https://user-images.githubusercontent.com/1042633/165006277-92b91389-1a0a-4f42-afd7-dca8a36a61e7.png">

[2022-04-25 08:00] simonprickett commented on #207
Hi there - thanks for the extra info, I'll treat the `first` issue as something separate and I will open a new issue for that.

[2022-04-25 08:52] simonprickett opened #218 "Finding first match not working as expected?"
Reported by @msarm initially as part of #207 :

I see 'ft.search' round trip got reduced now after defaulting the page size to 1000 and this helps other queries to run even faster but my results are not coming this time may be a different issue now.

When I perform the Person query:

[code]

Here is the `ft.search` performed.

[code]

When the last fired `ft.search` is performed it does not return

[2022-04-25 08:53] simonprickett commented on #207
@msarm I've raised #218 for the `first` question.

[2022-04-25 09:40] simonprickett commented on #218
Notes to self: When I run the above code (without setting `exhaust_results`) I see the following `FT.SEARCH` commands run:

[code]

and get this response:

[code]

(Redis Stack Docker container, Redis OM 0.0.25).  I'll look at how `first` works next.

[2022-04-25 10:19] simonprickett commented on #218
Behaviour I see is that when using `first`, the correct limit query is run, then the whole dataset is paginated through too:

[code]

[2022-04-25 11:30] simonprickett commented on #218
@msarm I think you're right, and that `first` does need to set `exhaust_results=False`... when I do this and try again just get the one query that you'd expect:

[code]

I'll look at a PR for this, and I suspect that both `first` and `get_item` may benefit from this.

Thanks for looking into this.

[2022-04-25 12:31] simonprickett commented on #218
This will be fixed in the next release.

[2022-04-25 14:24] #218 closed

[2022-04-25 14:37] simonprickett commented on #218
Fixed in 0.0.26.

[2022-04-27 07:21] raceychan commented on #179
hi sorry for the late reply, but as i checked on the redis servie --version it says
"Redis server v=6.2.6 sha=00000000:0 malloc=jemalloc-5.1.0 bits=64 build=1cff261a475b7441"
it seems like the same problem occurs with redis version >= 6?

[2022-04-27 17:02] moznuy commented on #87
I suspect pytest-xdist workers stomp on each other during `cleanup_keys` in the end. (Some of them finish while other are still running tests)

[2022-04-27 18:54] simonprickett commented on #179
Hi there - this is working for me, I did have to change `example.com` in the email from the README to something else as the email validator appears to actually check for a valid domain... other than that it worked as shown in the README:

[code]

[2022-04-27 20:58] #87 closed

[2022-04-29 13:03] raceychan commented on #179
you are right, it works well after i change to a new machine. not sure wts wrong here tho.

[2022-04-29 20:21] rkulagowski opened #223 "When using hashmodel, 'id' appears to be a reserved name?"
[code]

Will result in the following error:
[code]

Changing from 'id' to anything else causes the code to work.

[2022-04-30 22:05] msarm opened #224 "Raises --> 'list index out of range' when keys loaded > ~605K"
This issue is very interesting but consistent when we start loading keys > ~605K.

Run the below code and you have to wait for an hour or more based on your system configuration to replicate this issue.

[code]

Error is raised from the below method, it expects the result here but the Redis search library returns an empty array. I believe the issue is with the Redis library or Redis server when ke

[2022-04-30 22:39] msarm commented on #224
Update: tested with the following docker images and the issue still persists in all images.
- 6.2.2-V2
- edge-edge
- edge
- 7.0.0-RC2-edge

[2022-04-30 23:27] msarm commented on #224
Update: When I fired the last added employee query directly using RedisInsight, I get the results so it may issue with redis library and not with redis server.

`FT.SEARCH "person:__main__.Person:index" "*" "LIMIT" "0" "1" "SORTBY" "emp_no" "desc"`

<img width="1485" alt="image" src="https://user-images.githubusercontent.com/1042633/166125764-5636de95-4dd5-4bb8-b75e-ba8491bfbf25.png">

[2022-05-02 21:03] moznuy opened #228 "RediSearch and RedisJson checks do not fire against redis:latest"
When testing with `make test_oss` we get `TypeError: 'NoneType' object is not subscriptable` with Traceback in redis-py not in redis-om:
[code]
You can replicate this against redis:latest with
[code]
There is a problem in redis-py with parsing the response from redis. (It's nill)
Maybe it's related to: https://github.com/redis/redis-py/blob/09a52dba48221353eafa8188d73ab97e8f4ccc49/redis/commands/c

[2022-05-03 10:03] #119 closed

[2022-05-03 10:05] simonprickett opened #230 "Swap `docker-compose.yaml` to use Redis Stack not RediSearch image"
Let's swap to using Redis Stack in `docker-compose.yaml`.

[2022-05-03 10:07] #80 closed

[2022-05-03 10:12] #230 closed

[2022-05-04 15:31] moznuy commented on #228
And what if user uses async API:
Model would get async conn, then the check _that should be sync(because in `__init__`)_ gets async conn...
Either we create async and sync Redis instance in metaclass. (which is bad?)
Or maybe check might go to the place where async and sync is a part of protocol instead of `__init__` that is always sync
like `execute()` in `FindQuery` or `save()`, `get()` in `Json

[2022-05-04 18:16] moznuy opened #234 "Clean dependencies"
### Public:
- six: is used only in
[code]
  Is it needed for anything else, do we intend to support Python 2?
- pptree: is it used? I see only adopted code from it:
[code]
- types-redis, types-six: sould be moved to dev?
- cleo: is it used?
- typing-extensions: I'm no familiar with this. Is it for previous versions of python(3.7+)? Is it needed in public deps or only for dev?
- hiredis: right now

[2022-05-05 02:21] oren-twigo opened #235 ""getting_started.md" doc requires some updates"
The getting_started.md requires some fixes:

1. In the example of:
from redis_om import get_redis_connection
redis_conn = get_redis_conection()

Should be updated to:
from redis_om import connections
redis_conn = connections.get_redis_connection()

2. a small typo:
replace
"...Here, we run JSON.GET command with.."
with
"...Here, we run HGETALL command with..."

[2022-05-08 09:30] mbanjum-cyber opened #241 "Validation is not working as expected"
Expected behavior:
Any attribute not explicitly set on pydantic model should be omitted.  However, HashModel and JsonModel are including stuff which is supposed to be omitted.

Please let me know if I am missing anything.

[code]

output:
[code]

[2022-05-09 14:31] oren-twigo opened #244 "Missing support for List of EmbeddedJsonModel"
We miss the support of defining a JsonModel with a field that is defined as a List of EmbeddedJsonModel .
It is highly required to support our DB modeling to enable RedisSearch with a single index on a JsonModel and all its EmbeddedJsonModel fields, whether they are a single field or a List.

[2022-05-10 12:50] oren-twigo opened #246 "JsonModel does not support a field of list of str with validation"
for example:
tags: List[str] = Field(min_length=1)

error:
"In this Preview release, list and tuple fields can only contain strings. Problem field: tags. See docs: TODO"

note:
tags: List[str] = Field(index=True)
Does work.

[2022-05-12 10:15] DennyD17 commented on #174
Hello!
I'm not sure that it will work, but I want to try something like this

`
class Test(JsonModel):
    id: int

    class Meta:
        database = RedisCluster(startup_nodes=redis_conf, decode_responses=True)`

[2022-05-12 11:57] mbanjum-cyber commented on #241
Hi,

I found that base class RedisModel is configured to allow extras.

For someone who stumbles upon this, if you do not want to allow automatic creation of extra attributes, you can update the class Config at your model level.

[code]

[2022-05-12 11:58] #241 closed

[2022-05-12 16:33] chayim commented on #244
@oren-twigo Can you give me a base example of how you're looking to use it. Is the idea that this would be extensible (i.e a List contains a List, contains a List...), are you looking for a single level of depth?

I'd actually love to see the combination of your model and Search query if you're willing! For my own curiosity, I'd like to know if you're using async or sync - but it's less important.

[2022-05-12 17:11] DennyD17 opened #247 "Find by optional field returns documents with None"
Hi!
I have model with Optional[int] indexed field and I want to query via that field. In results I see documents with None in that field. Why? How to avoid it?

[code]

In results I see docs with base_id = None

[2022-05-12 18:45] DennyD17 opened #248 "Filter by "list field contains value""
Hi!
Is there a way to find docs, indexed ListField of that, contains some string?

At example, I have the model:
[code]

and I want to find all docs that contains string "foo" in field "strings".
Can I make that query?

[2022-05-12 19:09] oren-twigo commented on #244
@chayim I am looking for two levels of depth, but it is a fixed and strict depth, not dynamic depth.
find below my code example.

We collect data about users from external platforms.
so the main model is "ExternalUsersData".
each user contains data from one or more platforms.
so we have a list of "UserPlatformData".
each user platform data can contain data of one or more social media platforms thi

[2022-05-12 19:30] simonprickett commented on #248
Hi there - you should be able to yes, check out the example here:

https://github.com/redis-developer/redis-om-python-flask-skeleton-app/blob/6d5a18e0f7ac53681e5e01c079a5abb68b694bf1/app.py#L86

Here's the accompanying model:

https://github.com/redis-developer/redis-om-python-flask-skeleton-app/blob/main/person.py

And a video walkthrough of this sample application:

https://www.youtube.com/watch

[2022-05-13 11:04] #248 closed

[2022-05-13 14:12] DennyD17 commented on #248
It works, thanks a lot!

[2022-05-13 14:26] simonprickett commented on #248
@DennyD17 no problem - one of the things on my list is to document the find operators more thoroughly. #144

[2022-05-14 13:44] oren-twigo opened #250 "How to achieve "HSetNX" functionality?"
What is the recommended way to mimic HSETNX command?
(https://redis.io/commands/hsetnx/)
The question refers to both Json and Hash models.

my use case:
I have a key with "created_timestamp" field.
I would like to set it only upon the first set of the key, and avoid updating it upon updating the other fields of that key.

currently the only solution I can think of is checking if key exists before

[2022-05-14 14:37] oren-twigo opened #251 "How to replace default primary key?"
I have two use cases in which I would like to replace the default pk field with another field:

1. I would like to define that a string field named "uuid" to be my primary key field, instead of the default "pk".
I do want to keep the ULID key generator, but just to set it into a field named "uuid" instead of "pk".

2. same as #1, just skipping the ULID key generator, allowing me to set the primary

[2022-05-14 14:51] msarm commented on #224
UPDATE: Was able to go further and found out its Redis server issue and NOT with redis-om or redis library.

When I fired the last added employee query directly using RedisInsight, I get no results but the match count shows 650K but not results.

<img width="1012" alt="image" src="https://user-images.githubusercontent.com/1042633/168430329-98ebb5b1-b61b-40dd-b6db-11d96eee160d.png">

[2022-05-14 14:53] msarm commented on #224
@simonprickett  - It's clear to me now that it's not a redis-om issue, do I need to close here and open a new issue in the Redis server repository?

[2022-05-15 14:50] msarm commented on #224
Update: Here is FT.INFO & FT.PROFILE

<img width="1514" alt="image" src="https://user-images.githubusercontent.com/1042633/168478924-6b3279c9-1455-4fd9-802e-7d8c146218dc.png">

<img width="716" alt="image" src="https://user-images.githubusercontent.com/1042633/168478991-1bf5cd7a-656b-42d0-bfba-aaa637001660.png">

[2022-05-16 12:26] simonprickett commented on #224
@msarm yes I think this needs to be a new issue against RediSearch at https://github.com/redisearch/redisearch - thanks.

[2022-05-16 14:29] vbabiy opened #254 "Allows writing but not reading, on model with optional field."
[code]

If was able to write it I should be able to read it.

[2022-05-16 17:21] Tobi-De opened #255 "Mkdocs setup"
Hi @simonprickett, hope you are doing great.
I was wondering if you would be interested in a PR that would set up [mkdocs](https://www.mkdocs.org/) for redisom, frankly there is not much to do, the docs is already there and working, but I think with something like mkdocs it would be easier to navigate. If you agree with the idea, I can start working on it.

[2022-05-17 11:35] msarm commented on #224
Finally, figured out what is going on.

Here are my learnings:

- client timeout (close the connection with the client if the client is idle for X seconds)
     - configure this limit via Redis.conf
     - simply using CONFIG SET timeout < value>
- query timeout (max amount of time in milliseconds that a search query is allowed to run)
     - redis-server --loadmodule ./redisearch.so TIMEOUT < val

[2022-05-17 11:35] #224 closed

[2022-05-18 10:32] simonprickett commented on #250
I can imagine this could work for hash models by having some sort of flag optional parameter to `save` that, when set, uses the `HSETNX` command instead of `HSET` here: https://github.com/redis/redis-om-python/blob/878490abb774102c0e119d1288173197fe85e552/aredis_om/model/model.py#L1312 - might have to then re-read the hash from Redis and return that, in case what was passed into `save` isn't what'

[2022-05-20 16:39] simonprickett opened #258 "Needs to support `FT.AGGREGATE` / RediSearch aggregations."
This client needs to support RediSearch aggregations / `FT.AGGREGATE`.

[2022-05-23 10:45] linyaoli commented on #254
+1 on this, any solution yet? 🙏

[2022-05-23 15:42] dusking opened #261 "Optional[int[ raise error if missing"
If I have a model with the following field:
number: Optional[int]

I can create a record without the number. But, when I'll call model.get(pk) - I'll get an error:
value is not a valid integer (type=type_error.integer)

[2022-05-25 15:34] ryanrussell opened #263 "Best Practices for Multi-Language Schema Source of Truth with Redis OM?"
Hi,

Love the idea of a First Class ORM around Redis. You guys are doing exciting things!

#### Goal
Find a best-practice mechanism to support Redis OM schema with a single source of truth between languages(Say Python and Node)

#### Question
In Python if we define an Embedded JSON Model object, how would we consume/interact in Node without a secondary schema definition to maintain in JS/TS?

####

[2022-05-26 04:34] Mr-Dj-Python commented on #206
from typing import Optional

from redis_om import HashModel, Field

class ShopRedisModel(HashModel):
    shop_id: int = Field(index=True)
    lead_id: int = Field(index=True)
    network_id: int = Field(index=True)
    name: str = Field(index=True)
    neighbourhood_id: int = Field(index=True, default=None)
    neighbourhood_name: str = Field(index=True)
    gps_coordinates: str = Field(index=True

[2022-05-29 19:02] nicolas-rdgs commented on #133
I am also interested in changing the default primary key and noticed the same behavior.

I also noticed that the custom class `FieldInfo` (inherited from Pydantic FieldInfo) has the attribute "primary_key" which is used in the RedisModel class to initiate the default field `pk` as primary key.

But apparently this attribute cannot be used elsewhere:

[code]

It would be great to use this parameter

[2022-05-31 11:16] Mihaylov93 commented on #133
I was having the same issue and until this is fixed you can work around it like this:

[code]
[code]

[2022-06-07 19:49] ryanrussell commented on #263
Thanks @marianhlavac

[2022-06-07 19:49] #263 closed

[2022-06-13 12:02] chayim opened #274 "Remove Library Cruft"
Currently redis-om-python makes use of libraries that need updating and/or removing. Examples include aioredis - now merged into redis, or six/types-six and types-redis.

[2022-06-13 17:22] moznuy commented on #274
And related to `aioredis`, could you look at #233?

[2022-06-17 12:36] LilianBoulard commented on #254
+1
This is essentially the same issue as https://github.com/redis/redis-om-python/issues/38
and as mentioned by Andrew in this thread, replacing `super().__init__(**data)` by `super().construct(**data)` works.

[2022-06-18 11:58] msarm commented on #261
Just to be clear, this issue exist for other data types as well (like datetime, float, etc).

Here sample code to replicate this issue:

[code]

[2022-06-27 17:04] simonprickett opened #283 "Add a `count` function for `find`"
Add `.find().count()` which returns the number of matching results without returning the matching documents themselves.

[2022-06-27 17:06] simonprickett opened #284 "Add a `page` function for `find`"
Allow the user to page through all results rather than returning them all in one go... `.find().page(offset, limit)`.  See Redis OM Node for a good example.

[2022-06-27 17:26] simonprickett commented on #206
Setting `batch_size` controls the batch per round trip to Redis that `all` uses to get all documents that match back.  `all` will always return everything.  We're proposing adding a separate `page` that takes `offset` and `limit` parameters to allow users to retrieve some of the results.  See #284

[2022-06-28 13:45] mpmX commented on #284
In the meantime, `FindQuery(expressions=[], model=self.model, offset=skip, limit=limit).execute()` works for me

[2022-07-04 12:17] dadwin commented on #223
It's because `RedisModel.from_redis()` intentionally removes `id` from fields, so later pyndantic validation fails:
https://github.com/redis/redis-om-python/blob/main/aredis_om/model/model.py#L1211

No clue why so far, didn't find mentions in code/docs

[2022-07-07 07:33] chayim opened #292 "Migrate from make to invoke"

[2022-07-07 07:34] chayim opened #293 "Migrate to stock pypi releaser"

[2022-07-07 07:34] chayim opened #294 "codeql integration"

[2022-07-07 07:34] chayim opened #295 "perf integrations"

[2022-07-07 07:35] chayim opened #296 "modify ci flows to invoke"

[2022-07-07 07:40] chayim opened #297 "Support pypy3.7 to CI"

[2022-07-07 08:03] chayim opened #298 "publish docs to readthedocs"

[2022-07-07 08:12] mpmX opened #299 "Bool Field in Model combined with List[str] Field seems to break Model.find().all() after List update"
To reproduce:
[code]

The code works when the bool field is defined without the Field syntax, like ``random_bool_field: bool = 0`` but then I cannot index it.
It also works when I update an integer field instead of the list append.

[2022-07-07 09:01] chayim opened #301 "Integrate spell checks into CI for documentation"

[2022-07-11 08:03] #301 closed, assigned to nobody

[2022-07-13 19:01] iamvishalkhare commented on #284
How do I use this? Can you put up an example code snippet?

[2022-07-17 13:37] chayim commented on #297
Closed by #300

[2022-07-17 13:37] #297 closed

[2022-07-19 03:23] mrkprdo opened #312 "find query cannot search for string that contains forward slash "/""
I have a string value which is a unix path that has slash, i can set it in db, but cannot query it.
I have set `Field(index=True, full_text_search=True)`.

Afaik, in sql, we can use the keyword LIKE or % escape to query it, how to do it with redis om in FindQuery?

[2022-07-20 15:00] mpmX commented on #284
Assuming your model class is called Entity:
[code]

[2022-07-20 18:27] badrobit opened #316 "(Pipelining) Is there a method for pipelining a group of operations such as updates"
If I have a set of redis-om defined objects (inherits from `HashModel`) is there an easy way for me to group my operations together to improve my performance when working with redis/redis-om? I would imagine it would be built around the [Redis Pipeline Concept)[https://redis.io/docs/manual/pipelining/].

[2022-07-25 17:45] dehuy69 opened #321 "How to query lenght of list?"
Hello, how can i query condition which use len of list in redis_om?

[code]
I want query condition of length of skills list
Can not find out anything in document and I tried many ways. Pls help!

[2022-07-30 13:31] johnson2427 opened #322 "find method does not work"
## What is the issue

I have created a FastAPI application, and I am trying to integrate aredis_om (but this fails with redis_om as well) with one of my rest endpoint modules.

I created a model called `Item`:

[code]

[code]

[code]

[code]

As you can see in my endpoints file, I had to make a workaround to be able to pull the individual item, and to be able to get a list of items from Redis. My

[2022-08-01 22:35] melder commented on #251
Using the readme example:

[code]
[code]

[2022-08-01 23:24] melder opened #325 "clean way to add non-persistable fields?"
I want to initialize my model with extra attributes that are inferred from persisted fields

For example, let's say I have birthdate and I want to calculate age. There is no reason to store both fields, so I can do the following:

[code]

The problem is with the above approach is "age" gets persisted.

I can do the following:

[code]

But then on subsequent .save() the age field gets persisted. I

[2022-08-02 16:55] munhyok opened #328 "How should I use the .find() method with FastAPI?"
[code]

After creating a JsonModel called Form as above
I want to get only JSON that contains a specific date using the .find() method.
So I wrote the code below.

[code]

But when I write like that, FastAPI outputs **redis_om.model.model.NotFoundError**

https://www.youtube.com/watch?v=Cy9fAvsXGZA&list=LL&index=2&t=1208s
The YouTube tutorial is output when you input a specific pk value into the a

[2022-08-04 12:52] sav-norem commented on #284
Current functionality of the execution of queries appends all results together - https://github.com/redis/redis-om-python/blob/dcd84e0ab2686a3c6ff7f6c6a43ec49f4b65655f/aredis_om/model/model.py#L740

This change will require changing how results are returned to users, not just adding a function. Closed the draft PR I had for this after realizing the above.

[2022-08-06 02:07] melder commented on #325
Ok so I tried the wrapper approach and it seems to work. Here an example:

[code]

So CustomerWrapper should behave similarly to Customer, and Customer methods can be extended in CustomerWrapper or by accessing them through the "customer instance field", e.g:

[code]

[2022-08-07 07:49] wiseaidev opened #333 "Improve query parameters"
The current implementation of the `find` requires manually passing a table followed by the name of the column `Customer` which seems redundant. For instance, the following query:

[code]

Should be simplified as:

[code]

The `find` method is already being performed on the `Customer` table, so no need to specify `Customer` in the parameter. Not sure about the complexity that this feature will intr

[2022-08-07 10:16] wiseaidev opened #334 "No way to get the value of the package version."
Usually, I run the following command to get the package version:

[code]

However, the `__init__` file doesn't have an entry for this value. There should be a `__version__` variable as described in [`pep8`](https://peps.python.org/pep-0008/#module-level-dunder-names). But, if you are looking for a [Single-sourcing the package version
](https://packaging.python.org/en/latest/guides/single-sourcing-

[2022-08-07 15:17] wiseaidev commented on #322
I think you forgot to run migrations first:

[code]

[2022-08-07 15:59] wiseaidev commented on #321
I think the translated SQL query would be something like:

[code]

Not sure if `redis-om` has a `HAVING` functionality. However, if you want to accomplish it with the current setup, you can do something like:

[code]

[2022-08-08 08:37] wiseaidev commented on #328
As the error message suggests, you might forget to run migrations first as the readme file says; So try something like:

[code]

And don't forget to call the `all` method: `all()`

[2022-08-08 12:28] wiseaidev commented on #258
I would like to work on this issue, however, i have a question related to the naming of the method, wanna call it `group_by`?

[code]

[2022-08-08 12:57] johnson2427 commented on #322
@wiseaidev Thank you!

[2022-08-08 14:54] #328 closed

[2022-08-08 15:53] wiseaidev commented on #322
Hey @johnson2427, just giving it a `default` value seems to solve the issue:

[code]

I dunno how it works. MAGIC.

[2022-08-08 18:30] wiseaidev commented on #322
Y'all would laugh so hard if i should you the bug:

https://github.com/redis/redis-om-python/blob/dcd84e0ab2686a3c6ff7f6c6a43ec49f4b65655f/aredis_om/model/model.py#L1210-L1213

It seems like the developer was trying to implement something, didn't like it, then forgot about removing the code. LOl

[2022-08-08 18:46] wiseaidev commented on #322
Time to run:

[code]

[code]

Ayo, Andrew!

[2022-08-08 20:24] wiseaidev opened #338 "Anyone interested in a hard fork?"
Hey everyone. Since this project is not actively maintained anymore, the [last release](https://github.com/redis/redis-om-python/tree/v0.0.27) was around 3 months ago, and I am thinking to release a new package/version based on a fork I am currently working on that includes all the patches, additional features, docs... Is anyone interested? Is it ok @simonprickett @ everyone to do so? How about li

[2022-08-08 20:34] simonprickett commented on #338
This project has been moving to the Redis (the company) client team and is maintained by @dvora-h and @chayim

[2022-08-08 20:44] johnson2427 commented on #322
hahahha, been there done that, no worries. I thought I was going insane. And I added the `Migrator().run()` and it kept failing, so instead of adding too many things at once, Thank you for the help!

[2022-08-09 05:42] chayim commented on #338
Hi folks - maintenance is on. There have been some small changes to the release process. We're in the process of adding features like bulk delete, and aggregations as we speak.

Part of the explicit reason for the delay is that we've brought on a PM (@thomascaudron) and asked him to help prioritize things so that we work on the right things - this is especially true as GitHub issues doesn't reflec

[2022-08-09 11:39] #294 closed

[2022-08-09 12:53] wiseaidev commented on #338
Hey @chayim, sounds great. So, could you please review my PRs, especially the one @ [pull/337](https://github.com/redis/redis-om-python/pull/337) cause it prevents us to create a model with a field named `id`.

[2022-08-09 14:47] wiseaidev commented on #338
Closing this issue because it is still an active project. At first, i thought it was abandoned! Ma bad! Anyways, hoping to see a new release soon.

[2022-08-09 14:47] #338 closed

[2022-08-10 05:57] chayim commented on #338
@wiseaidev I'll try and look today.  Saw the six comment previously and immediately :heart:  Baby steps my friend!

[2022-08-10 07:24] wiseaidev opened #342 "Examples requires update."
`save` and `find` are now `async` functions on the main branch, and not the release version. So, we should provide a FastApi app kinda examples before releasing a new version. Is anyone working on it? if not the case, i can sort that out, just lemme know.

[2022-08-10 11:35] dvora-h commented on #258
@wiseaidev It would be really awesome if you could contribute it!

The name of the methods should be `aggregate`.
I also thought to implement it and in my opinion the API should be something like this:
[code]

But if you think otherwise, suggest your idea and let's discuss it.

I'm not sure I understood your question about the rows / columns but I think we only want columns.

[2022-08-10 12:07] simonprickett commented on #258
It's a different programming paradigm, but OM .NET has aggregations, might be worth a look at how Steve did that https://github.com/redis/redis-om-dotnet#-aggregations

[2022-08-10 12:08] wiseaidev commented on #258
Hey @dvora-h. As you may know, the thing is that the `aggregate` function is a whole new query and not related/ doesn't require a `find` query. You can refer to [this example](https://github.com/RediSearch/redisearch-getting-started/blob/master/docs/008-aggregation.md#group-by--sort-by) on how the query looks like. So, i think the API should look like the following:

[code]

However, it becomes ch

[2022-08-10 18:08] tylerhutcherson opened #343 "Unable to change underlying model config"
Hi!

Working with a `HashModel` that contains some bytes data (for Vector data fields).

I need to update the default [`jsonable_encoder`](https://github.com/redis/redis-om-python/blob/a00a68b414d50b7a096a98f8d00ee10ddd8cd99f/aredis_om/model/encoders.py#L56) with a custom encoder for `bytes`.

However, I noticed that my `HashModel` would not override the `Config` class from Pydantic. Example:

[co

[2022-08-10 19:52] elicore commented on #164
@simonprickett One of the top result on Google still shows the call to instantiate Migrator with the redis connection instance: https://redis.com/blog/introducing-redis-om-for-python/

[2022-08-11 10:47] chayim commented on #258
Big fan of the second approach, and ensuring that we can do chained aggregations. This would both feel very much in spirit with this library, and align really well to other Python ORMs (I'm looking at Django!).

It feels "strange" that we're not aggregating a query, if only because traditionally those things march in tandem.

One syntax I'm a fan of is:
[code]

This makes chaining a little cleaner

[2022-08-11 15:41] wiseaidev commented on #258
I recently started to realize that. That's right!

How about passing the aggregate functions as strings:

[code]

The user can enter whatever they like, however in the code, you can always do `.lower` thing.

[2022-08-11 21:45] wiseaidev commented on #223
fixed in [pull/337](https://github.com/redis/redis-om-python/pull/337).

[2022-08-12 08:58] wiseaidev commented on #126
I think, at the moment, it is not possible to use this package in django because django migrations and redis-om migrator are two different things, that's because `HashModel` is not a django model to apply migrations. So when you run:

[code]

It will create an empty migration file. That's why you are getting:

[code]

[2022-08-12 09:28] A-kirami opened #350 "`Meta Object` supports `expire`"
Setting the expiration time in the Meta object is better than calling `expire` on the instance.

[2022-08-15 08:30] erniavr opened #351 "Index embedded models"
Please add the ability to mark class members of EmbeddedJsonModel as indexed when the EmbeddedJsonModel is in a List in the JsonModel.

[2022-08-16 15:08] mpmX commented on #333
think the python interpreter would complain because `last_name` is not declared anywhere

[2022-08-16 22:09] wiseaidev opened #352 "Boolean values can be stored and fetched if the field type is `str` and not `bool` using `aredis`."
Hey everyone, I am trying to store and fetch in a model whose field's type is boolean. However, as you may know, Redis will complain about that when trying to encode bool values. But, I found a workaround for this use case, take the following as an example using the sync version `redis_om`:

[code]

Running this above script will throw the following exception:

[code]

However, if you are using th

[2022-08-16 22:19] wiseaidev commented on #333
I don't think so cause the whole thing within the parenthesis is evaluated as a custom expression:

https://github.com/redis/redis-om-python/blob/60f102d18829b35604bdb5efb3a18679b39d16da/aredis_om/model/model.py#L1188-L1189

It can be customized by changing the `left` field of the following class:

https://github.com/redis/redis-om-python/blob/60f102d18829b35604bdb5efb3a18679b39d16da/aredis_om/mod

[2022-08-17 17:19] wiseaidev opened #354 "Unable to index a `HashModel` field in a `JsonModel`."
Storing works, but querying doesn't work. Take the following as an example:

[code]

Running the above code `uvicorn your_file_name:router --reload` will generate the following exception:

[code]

Is there any way to index such a field?

[2022-08-17 21:06] wiseaidev opened #355 "`delete` will throw an exception if invoked on a non existing record."
Code to reproduce the issue:

[code]

Output:

[code]

[2022-08-18 20:01] simonprickett opened #356 "Add example in the README / docs that uses `sort_by`"
It's possible to sort results in ASCending or DESCending order like this... ASCending:

[code]

and DESCending:

[code]

but there's no documentation or example for this.

[2022-08-20 07:34] wiseaidev opened #357 "`find` fails on a `JsonModel` when querying more than one `HashModel` field using two or more expressions"
Code to reproduce the issue:

[code]

However, the following expressions work as expected:

[code]

This confirms my hypostasis that a `JsonModel` object can index at most one `HashModel` field. Is that intentional or a bug?

[2022-08-21 13:51] #350 closed

[2022-08-22 23:19] noonenene opened #359 "Find next 10k record"
Hi,

I am using `JsonModel`.

I apologize for posting this noob question here. I am really stuck.

`cust = Customer.find(Customer.plan == "plan1").all()` return only 10k. How do i get the next 10k?

[2022-08-24 08:57] Brandon-lz commented on #352
thanks for you sharing, it is very useful, and I filtered the data in the following way::
[code]

[2022-08-28 05:28] DasLukas commented on #357
Habe you try `EmbeddedJsonModel` instead of `HashModel`?

[2022-08-29 15:39] sav-norem commented on #58
This has since been fixed -
`
HashModel with Optional and field:  [CustomerHash1(pk='01GBN3QJMXME8WMG9C3MVXPT53', name='Brookins', bio='')]
HashModel with Optional and no default:  [CustomerHash2(pk='01GBN3QJN1VPGRCZZ1WHPC71C2', name='Brookins', bio='')]
HashModel with Optional and default:  [CustomerHash3(pk='01GBN3QJN3F3HCQ69N4R5EYKEB', name='Brookins', bio='')]
JsonModel with Optional and field

[2022-08-29 15:44] sav-norem commented on #59
Also already addressed @simonprickett

[2022-08-29 16:33] sav-norem commented on #121
It is possible - the syntax is just a bit obfuscated - this is what I have working

`
class BaseModel(JsonModel):
    model_key_prefix = "some-information"

class Customer(BaseModel):
    first_name: str
    last_name: str

print(Customer.model_key_prefix.field)
`

`
name='model_key_prefix' type=str required=False default='some-information'`

[2022-08-30 09:46] #121 closed

[2022-08-30 09:47] simonprickett opened #364 "Document `model_key_prefix` usage"
We should better document the use of `model_key_prefix`, see #121

[2022-08-30 09:48] #59 closed

[2022-08-30 09:49] #58 closed

[2022-08-30 16:27] sav-norem commented on #299
Checking this out! What a good/weird bug find!

[2022-08-30 16:55] sav-norem commented on #351
@simonprickett

I believe this is already implemented - [here's](https://github.com/redislabs-training/ru204/blob/f404223d775854a1a91b0d25781a137b8b8a2b25/src/python/redis_om_search_example/model.py#L11) an example with a list of EmbeddedJsonModel and the embedded model has members indexed.

[2022-08-30 17:01] simonprickett commented on #321
Closing - refer to #258 thanks.

[2022-08-30 18:08] #351 closed

[2022-08-31 13:49] sav-norem commented on #61
Thanks for finding a way to make it work! @simonprickett - should we look into why timedelta isn't really supported or make a documentation issue with a workaround?

[2022-08-31 21:57] sav-norem commented on #359
Hi! I believe there are currently a few ways you can do this depending on your data / needs.
If you use `all` you can add a [batch_size](https://github.com/redis/redis-om-python/blob/57608d85f40ea8264cd94e1cdb16fe50690b8cf6/aredis_om/model/model.py#L758)
`cust = Customer.find(Customer.plan == "plan1").all(batch_size=1000000)`

You can use an offset to actually get the next 10k
`cust = Customer.fin

[2022-09-01 16:59] sav-norem commented on #343
Hi! So HashModel extends from BaseModel which means that `if isinstance()` actually should pass - we'll take a look at some of the json_encoder stuff and check it out!

[2022-09-03 02:30] noonenene commented on #359
Thank you for replaying.

`cust = Customer.find(Customer.plan == "plan1").all(batch_size=1000000)`
redis.exceptions.ResponseError: LIMIT exceeds maximum of 10000

`, offset=10000`
TypeError: find() got an unexpected keyword argument 'offset'

Page function not published yet to PyPi.

[2022-09-06 12:23] dvora-h commented on #355
Great catch! thanks for reporting this.
I opened a PR to fix it #372

[2022-09-07 03:43] banker commented on #359
@noonenene You may be hitting a RediSearch limit. See the https://redis.io/docs/stack/search/configuring/#maxsearchresults setting. You can change this by running:

`FT.CONFIG SET MAXSEARCHRESULTS -1`

Can you try setting this and the re-run your query?

[2022-09-07 15:54] sav-norem commented on #284
@simonprickett - wiseaidev implemented this how it's described so I think we should go ahead and close this

[2022-09-07 15:58] #284 closed

[2022-09-07 16:59] sav-norem commented on #316
Hi - yes you can use pipelines in OM. When using the OM library you also have access to all the core Redis features - you can start a pipeline the same way, include OM commands inside it, then execute!

@simonprickett this should probably also be a documentation issue

[2022-09-07 17:06] simonprickett commented on #316
Added documentation label.

[2022-09-09 16:03] sav-norem commented on #251
@simonprickett seems like this has been addressed and should be closed

[2022-09-09 16:05] #251 closed

[2022-09-09 16:13] sav-norem commented on #254
This is being worked on - but in the meantime if you can, this issue only applies to HashModels and you can swap it for a JsonModel and it will work

[2022-09-09 16:13] sav-norem commented on #261
This is being worked on - but in the meantime if you can, this issue only applies to HashModels and you can swap it for a JsonModel and it will work

[2022-09-09 18:27] sav-norem commented on #223
@simonprickett fix has been merged so we can close this out

[2022-09-09 19:07] #223 closed

[2022-09-11 10:11] DasLukas commented on #133
I also need to change the default pk. I use this workaround. Works fine for me.

[code]

[code]

[2022-09-11 10:18] ninoseki commented on #312
Hello, I also have the same problem with `redis-om` v0.0.27.

Here is a code to reproduce the issue.

[code]

I checked args in `execute`.

[code]

I guess `TokenEscaper` should also escape `/`.

[code]

[2022-09-11 12:58] llirrikk commented on #352
@sav-norem, this isn't documentation issue. In #193 he said:

[2022-09-11 13:50] #312 closed

[2022-09-12 15:03] mrkprdo commented on #312
Thanks @ninoseki @dvora-h

[2022-09-13 06:04] javadKefayati opened #378 "TypeError: 'NoneType' object is not subscriptable"
### **_hello every one_**
### **_when I try to run this code :_**

import datetime
from typing import Optional
from redis_om import (
    Field,
    HashModel,
    Migrator
)

class Customer(HashModel):
---first_name: str
---last_name: str = Field(index=True)
---join_date: datetime.date
---age: int = Field(index=True)
---bio: Optional[str]

Migrator().run()
Customer.find(Customer.last_name == "Bro

[2022-09-13 06:09] javadKefayati commented on #378
changed

[2022-09-13 14:35] tylerhutcherson commented on #343
It looks like the `model.save()` method converts to a dictionary first before it passes to the encoder. This may be ok. I think the piece that's missing here, and the big picture feature is support for the vector data types so we can use this library for https://redis.io/docs/stack/search/reference/vectors/

That said - I am ok if we want to just close this thread and use it as a reference for fut

[2022-09-13 20:26] #378 closed

[2022-09-13 20:27] javadKefayati commented on #378
.

[2022-09-14 06:17] javadKefayati opened #379 "use restapi"
Hello
How can it be done using rest framework API

class get_all_objects(APIView):
--def get(self,request):
----resuts = object_hash_model.fild().all()
----return Response(results, status=status.HTTP_201_CREATED)

Is there an api master?

[2022-09-14 16:51] #379 closed

[2022-09-15 10:29] #355 closed

[2022-09-15 15:12] sav-norem commented on #322
@simonprickett seems like this issues has had a bug fix already merged in and can be closed

[2022-09-15 15:14] sav-norem commented on #325
@simonprickett seems like this would be a great example for us to highlight in some documentation but isn't currently an issue

[2022-09-15 15:29] sav-norem commented on #352
@llirrikk  - Sure! I meant more like we can label this as a documentation issue since it provides documentation and isn't raising a new bug type of issue that needs a new PR to fix.

[2022-09-15 15:58] sav-norem commented on #247
Thanks for bringing this up! Seems like right now the easiest way to get around this is to add a default value that would never exist in your data. I'll take a look through the source code and see what's going on!

[2022-09-15 19:47] #322 closed

[2022-09-15 21:03] melder commented on #325
@sav-norem Yea feel free to close this. But I'd update the docs with a warning that all instance vars of the OM get persisted.

I'm still relatively new to python so if I have the time I'll look into implementing this as a decorator and package it as a separate plugin module- unless you have a better approach in mind and can offer guidance. Let me know how I can help.

[2022-09-19 18:15] ThomasJRyan commented on #378
Hi @javadKefayati

Did you figure out why this error was happening?

[2022-09-29 16:36] sav-norem commented on #244
@simonprickett I believe this has been added?

[2022-09-30 18:39] mrkprdo commented on #357
@wiseaidev  Does this line work?
`await Migrator().run()`

[2022-10-05 21:27] simonprickett commented on #244
Not at multiple depth levels IIRC.

[2022-10-06 10:01] jetxr opened #389 "How to use the migrate CLI tool?"
The docs refer to running migrations with CLI. What's the command to run the migrate from CLI?

[2022-10-06 15:09] #293 closed

[2022-10-11 13:34] sav-norem commented on #389
Hi thanks for checking out the library - I believe this is a docs issue. The (definitely recommended, definitely easiest, maybe only) way to do migrations is with the `Migrator.run()` from within a script.

[2022-10-26 11:44] noonenene opened #408 "Redis cluster Migrator not working"
[code]

I able to write data on all cluster node without any issue but not able to run `Migrator().run()`

[code]

[code]

[2022-10-28 18:29] chakri622 commented on #389
Hi All,

I am facing the below error when I am trying to run migrations on a remote redis server.  Here is the error, please help me out.

ERROR:    Traceback (most recent call last):
  File "/usr/local/lib/python3.10/site-packages/starlette/routing.py", line 645, in lifespan
    async with self.lifespan_context(app):
  File "/usr/local/lib/python3.10/site-packages/starlette/routing.py", line 540,

[2022-11-01 13:07] igorMIA opened #409 "[0.1.0] Mirgrator raise an exception"
Using `python3.8(cpython)` with redis om `0.1.0`.
When trying to run migrations in an async way get the error:
[code]

Downgrade to version `0.0.26` fixes the problem

[2022-11-02 11:03] vbabiy commented on #254
@sav-norem we are hosted on GCP and memorystore doesn't have support for JSON yet.

[2022-11-03 11:49] Hennrik opened #410 "JsonModel is not working when Redis require password"
### My environment and settings

**Tool/library versions:**

- redis-om : `0.1.0`
- redis docker image : `redis/redis-stack:latest`

**My configurations:**

- docker-comose file
[code]

- redis connection string in my Python application

[code]

### Issue

TLDR;

I created a `JsonModel` called `MyUser`.

[code]
When you run any query like `MyUser.find(MyUser.user_id == some_user_id)`,
it will thro

[2022-11-04 23:56] XChikuX commented on #174
There is indeed basic cluster support. However, some commands do fail

`import datetime
from typing import Optional

from pydantic import EmailStr

from redis_om import (
    Field,
    HashModel,
    JsonModel,
    Migrator,
    get_redis_connection
)

redis_conn = get_redis_connection(
    url=f"redis://10.9.9.5:7002",
    decode_responses=True,
    password="D1ngD0ng"
)

class Customer(HashMode

[2022-11-05 08:34] XChikuX opened #412 "Unable to use redisearch on cluster"
Hi Everyone,

I've been trying out redis-om and I like the simplicity it offers. Thank you for taking the time to write it.

I have run into an issue though. When trying to run the following line of code

`Customer.find(Customer.age == 38).all()`

The above line of code works fine for a single redis instance. However, in cluster mode which redisearch should be using **RSCoordinator** under the hoo

[2022-11-07 14:26] #410 closed

[2022-11-24 20:31] msarm commented on #408
In the [Version 0.1.0](https://github.com/redis/redis-om-python/releases/tag/v0.1.0), the below change was made and causing this issue.
<img width="1643" alt="image" src="https://user-images.githubusercontent.com/1042633/203859538-b3787f89-b0c5-4017-bb7d-1d8f4c3d10da.png">